header a {
    color: white!important;
    text-decoration: none;
    margin-right: 25px;
}
.btn-link {
     background-color: white;
     padding: 5px 20px;
     border-radius: 25px;
     color: black !important;
     text-decoration: none !important;
 }
 .navbar-nav {
     align-items: center;
 }