header a {
    color: white!important;
    text-decoration: none;
    margin-right: 25px;
}
.btn-link {
     background-color: white;
     padding: 5px 20px;
     border-radius: 25px;
     color: black !important;
     text-decoration: none !important;
 }
 .navbar-nav {
     align-items: center;
 }
 .user-name {
    color: white;
    margin: 0 8px 0 0px;
    font-weight: 700;
}
.app-logo {
    height: 32px;
}